#messages table tr th
{
	padding-left: 10px;
	padding-right: 10px;
}

#messages table tr td
{
	text-align:center;
}

#messages table tr th
{
	text-align: center;
}

#messages table
{
	width:90%;
}

#messages a
{
	text-decoration:none;
	color:#000000;
}

#messages table tr:nth-child(odd)
{
	background-color:#D3F2FF;
}

#messages table tr:nth-child(even)
{
	background-color:#BAEBFF;
}

#messages .messageBox:hover
{
	background-color:#72dbcd;
}

#readerPane
{
	width=40%;
	height=80%;

}
